#tabroot {
    display: 'flex';
    flex-direction: row;
}

.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 2px;
}